/* Elements */
form {
    display: flex;
    flex-direction: column;
    width: 96%;
}


input {
    width: 100%;
    height: 37px;
    min-width: 200px;
    max-width: 400px;
    margin-top: 2%;
    border: 1px solid #373867;
    border-radius: 4px;
}

select {
    width: 100%;
    min-width: 246px;
    max-width: 412px;
    margin-top: 2%;
    height: 41px;
    border: 1px solid #373867;
    border-radius: 4px;
    color: #373867;
    opacity: .7 ;
}

textarea {
    flex-grow: 1;
    min-width: 256px;
    width: 100%;
    height: 20vh;
    border: 1px solid #E0E0E0;
    border-radius: 4px;
    font-size: 13px;
    line-height: 15px;
}

form label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: flex-start;
    margin-top: 2%;
    color: #373867;
    font-weight: bold;
    font-size: 14px;
}

button{
    flex: 1 1 auto;
    height: 5.5vh;
    max-width: 200px;
    background: #AACE9B;
    border-radius: 5px;
    font-weight: bold;
}

/* Who whe are */
#who-we-are {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#who-we-are .box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
}

#who-we-are .box.titles{
    justify-content: center;
    flex-grow: 1;
    flex-shrink: 1;
    height: 5%;
}

#who-we-are .box.paragraphs{
    flex-grow: 4;
    flex-shrink: 1;
}

#who-we-are p {
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 20px;
}

/* Why choose us */

#why-choose-us {
    align-items: center;
    width: 100%;
}

#why-choose-us p {
    font-size: 20px;
    line-height: 20px;
}

#why-choose-us .text-image {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
}

#why-choose-us .box {
    display: flex;
    justify-content: center;
    text-align: center;
}

.text-box .title-bar {
   width: 50%;
}

.box {
    display: flex;
    align-items: center;
}

.box img {
    height: auto;
    width: 100%;
    flex-shrink: 2;
}

.box.grey img {
    order:1;
}

.text-box {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    justify-content: space-around;
    align-items: center;
}

.line-next-image {
    height: 3px;
    width: 100%;
}

/* Functionalities */
#functionalities {
    margin-top: 30px;
    align-items: center;
}

#functionalities svg {
    width: 60%;
}

#functionalities .container {
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
    min-width: 260px;
}
#functionalities .container .box {
    display: flex;
    justify-content: flex-start;
    align-items: center ;
}

#functionalities .container .box  h3 {
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 25px;
}

#functionalities .container .box  p {
    font-size: 16px;
    line-height: 18px;
}

/* Contact form */

#contact {
    justify-content: center;
    margin-top: 30px;
    align-items: center;
    font-size: 15px;
}

#contact .container {
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
    width: 100%;
}

#contact .box {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex-grow: 1;
}

form .container .title {
    flex-grow: 1;
}

#title-area {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#container .box .title {
    width: 100%;
    flex-grow: 1;
    flex-shrink: 1;
}

#contact .box .title {
    width: 100%;
}

#contact .buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
}

#contact .buttons i {
    margin-right: 1%;
}

#title-button {
    width: 100%;
}

#send-message {
    max-width: 200px;
    margin-bottom: 56px;
    background: #AACE9B;
}

#reset {
    max-width: 180px;
    margin-bottom: 56px;
    background: #F13312;
}

::placeholder {
    font-family: "Roboto", sans-serif;
    color: #373867;
    opacity: .5;
}

.error {
    border: 1px solid #F33413;
    border-radius: 4px;
    opacity: 1;
}

#name-error-message,
#email-error-message,
#select-error-message,
#text-error-message{
    color: #F33413;
    align-self: flex-start;
}

/* Products, enterprise and support */

#products-enterprise-support {
    display: flex;
    justify-content: center;
    background-image: url(../assets/background-prefooter.png);
    background-size: cover;
}

#products-enterprise-support h3 {
    font-size: 14px;
    margin-bottom: 16px;
}

#products-enterprise-support ol {
    margin-left: 10px;
    font-size: 10px;
    line-height: 12px;
    list-style-type: decimal;
}

#products-enterprise-support .container {
    display: flex;
    justify-content: space-around;
    flex-basis: 40%;
}

#products,
#enterprise,
#support {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

#products,
#enterprise,
#support {
    min-width: 80px;
}

@media screen and (min-width: 480px) {
    input {
        width: 90%;
        height: 37px;
        min-width: 220px;
        max-width: 500px;
    }

    select {
        width: 90%;
        min-width: 226px;
        max-width: 512px;
    }

    #why-choose-us .text-image {
        flex-wrap: nowrap;
        align-items: center;
        text-align: left;
        margin: 20px;
    }

    #why-choose-us .box img {
        display: flex;
        flex: 1 1 0;
        height: auto;
        max-width: 40%;
    }

    #why-choose-us .text-box .title-bar {
        width: 100%;
    }

    .box.grey img {
        order: -1;
    }

    #contact .container {
        flex-wrap: nowrap;
    }

    #title-area {
        align-items: flex-end;
    }

    .hidden {
        display: flex;
    }

    #functionalities .container .box  {
        display: flex;
        width: 49%;
    }

    #functionalities svg {
        width: 80%;
    }

    #products-enterprise-support h3 {
        font-size: 18px;
        margin-bottom: 18px;
    }
}

@media screen and (min-width: 768px) {
    #who-we-are .box {
        margin-top: 84px;
    }

    #who-we-are p {
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 100px;
    }

    #why-choose-us .text-box {
        height: 50%;
    }

    .grey-line {
        height: 7px;
    }

    .box.grey p,
    .box.grey h3{
        margin-left: 40px;
    }

    #products-enterprise-support .container{
        margin-top: 3%;
        margin-bottom: 3%;
    }

    #products-enterprise-support h3 {
        font-size: 25px;
        margin-bottom: 20px;
    }

    #products-enterprise-support ol {
        margin-left: 12px;
        font-size: 12px;
        line-height: 14px
    }

    #functionalities .container .box  p {
        font-size: 20px;
        line-height: 23.44px;
    }

}

@media screen and (min-width: 1024px) {
    form {
        justify-content: center;
    }

    .grey-line {
        height: 10px;
    }

    #why-choose-us p {
        font-size: 30px;
        line-height: 35px;
    }

    #functionalities .container .box {
        margin-top: 88px;
    }

    #functionalities .container :nth-child(3),
    #functionalities .container :nth-child(4){
        margin-bottom: 60px;
    }

    #functionalities svg {
        width: 40%;
    }
}