body {
    display: flex;
    font-family: "Roboto", sans-serif;
    overflow: hidden;
}

h2 {
    text-align: center;
}

h2,
h3 {
    font-size: 30px;
    font-weight: bold;
}

h4 {
font-size: 10px;
}

a{
    text-decoration: none;
}

p {
    font-size: 15px;
}

#header-main-footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: scroll;
}

header,
#who-we-are,
#why-choose-us,
#functionalities,
#contact,
footer {
    display: flex;
    flex-direction: column;
}

#menu {
    position: fixed;
    margin-top: 1%;
    margin-left: 0.7%;
    padding: 4px;
    border: solid 1px #F13312;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 1;
}

/* Lines */
.grey-line {
    width: 95%;
    height: 5px;
    margin: 1vh 0vh 1vh 0vh ;
    background-color: #D9D9D9;
}

/* Colours */
.grayish-navy {
    color: #373867;
}

.grayish-navy-background {
    background-color:#373867;
}

.grayish-green {
    color: #49A37B;
}

.white {
    color: #FFF;
}

.white-background {
    background-color: #FFF;
}

.grey {
    background-color: #D9D9D9;
}

.red {
    color:#F13312;
}



/* Hovers */

.sidebar-middle a:hover{
    color:#373867;
}

#products-enterprise-support h3:hover,
#functionalities .container .box  h3:hover,
footer i:hover
{
    color: #F13312;
}

.red-hover:hover {
    filter: invert(100%) url(#color-filter);
  }

/* Modals */

.displayed {
    display: flex;
}

.nondisplayed {
    display: none;
}

.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    display: flex;
    justify-content: space-between;
    align-self: center;
    background-color: #fefefe;
    margin: auto;
    padding: 10px;
    border: 5px solid #AACE9B;
    border-radius: 5px;
    width: 30%;
    max-width: 200px;
}

.close {
    color: #aaa;
    align-self: center;
    font-size: 20px;
    font-weight: bold;
}


.paragraph-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #aaa;
    border-radius: 5px;
    padding: 5px;
}

#msg {
    font-size: 20px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


/* Media query */
@media screen and (min-width: 1024px){
    #header-main-footer {
        width: 88%;
    }

    #menu {
        display: none;
    }
    .close {
        color: #aaa;
        align-self: center;
        font-size: 25px;
        font-weight: bold;
    }
}