footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #AACE9B;
}

footer h4,
footer p {
    font-size: 10px;
    margin-bottom: 12px;
}

footer i {
    color: #FFF;
}


footer .icons {
    display: flex;
    width: 50%;
    justify-content: space-around;
    font-size: 28px;
    margin-top: 1%;
    margin-bottom: 1%;
    border: #000 1px;
}

footer .box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}
