/* Who whe are */
#who-we-are {
    display: flex;
    flex-direction: column;
    max-height: 800px;
    justify-content: space-around;
    align-items: center;
}

#who-we-are .box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
}

#who-we-are .box.titles{
    justify-content: center;
    flex-grow: 1;
    flex-shrink: 1;
    height: 5%;
}

#who-we-are .box.paragraphs{
    flex-grow: 4;
    flex-shrink: 1;
}

#who-we-are p {
    text-align: center;
    font-size: 14px;
    font-weight: 500px;
    line-height: 20px;
    margin-bottom: 20px;
}

/* Functionalities */
#functionalities svg {
    width: 60%;
}

#functionalities {
    margin-top: 30px;
    align-items: center;
}

#functionalities .container{
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
    min-width: 300px;
}
#functionalities .container .box {
    display: flex;
    justify-content: flex-start;
    align-items: center ;
}

#functionalities .container .box  h3 {
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 25px;
}

#functionalities .container .box  p {
    font-size: 16px;
    line-height: 18px;
}



/* Contact form */

#contact {
    justify-content: center;
    margin-top: 30px;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    width: 96%;
}

form label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: flex-start;
    margin-top: 2%;
    color: #373867;
    font-weight: bold;
    font-size: 14px;
}

input {
    width: 100%;
    height: 37px;
    min-width: 250px;
    max-width: 400px;
    margin-top: 2%;
    border: 1px solid #373867;
    border-radius: 4px;
}

select {
    width: 100%;
    min-width: 256px;
    max-width: 412px;
    margin-top: 2%;
    height: 41px;
    border: 1px solid #373867;
    border-radius: 4px;
    color: #373867;
    opacity: .7 ;
}

textarea {
    flex-grow: 1;
    min-width: 256px;
    width: 100%;
    height: 20vh;
    border: 1px solid #E0E0E0;
    border-radius: 4px;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
}

#contact .container {
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
}

#contact .box {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex-grow: 1;
}

form .container .title {
    flex-grow: 1;
}

#title-area {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.hidden {
    display: none;
}
#container .box .title{
    width: 100%;
    flex-grow: 1;
    flex-shrink: 1;
}

#contact .box .title{
    width: 100%;
}

#contact .buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
}

#contact .buttons i {
    margin-right: 1%;
}

#send-message {
    flex: 1 1 auto;
    height: 4.5vh;
    max-width: 200px;
    margin-bottom: 56px;
    background: #AACE9B;
    border-radius: 5px;
    color: #373867;
    font-weight: bold;
    font-size: 15px;
}

#reset {
    flex: 1 1 auto;
    height: 4.5vh;
    max-width: 180px;
    background: #F13312;
    border-radius: 5px;
    color: #373867;
    font-weight: bold;
    font-size: 15px;
}

::placeholder {
    color: #373867;
    opacity: .5 ;
    font-family: "Roboto", sans-serif;
}

/* Products, enterprise and support */

#products-enterprise-support {
    display: flex;
    justify-content: center;
    background-image: url(../assets/background-prefooter.png) ;
    background-size: cover
}

#products-enterprise-support h3 {
    font-size: 18px;
    margin-bottom: 18px;
}

#products-enterprise-support ol {
    margin-left: 10px;
    font-size: 10px;
    line-height: 12px;
    list-style-type: decimal;
}


#products-enterprise-support .container {
    display: flex;
    justify-content: space-around;
    flex-basis: 40%;
}

#products,
#enterprise,
#support {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

#products {
    min-width: 126px;
}

#enterprise {
    min-width: 94px;
}
#support {
    min-width: 81px;
}

