/* Who whe are */
#who-we-are {
    display: flex;
    flex-direction: column;
    max-height: 800px;
    justify-content: space-around;
    align-items: center;
}

#who-we-are .box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
}

#who-we-are .box.titles{
    justify-content: center;
    flex-grow: 1;
    flex-shrink: 1;
    height: 5%;
}

#who-we-are .box.paragraphs{
    flex-grow: 4;
    flex-shrink: 1;
}

#who-we-are p {
    text-align: center;
    font-size: 14px;
    font-weight: 500px;
    line-height: 20px;
    margin-bottom: 20px;
}

/* Functionalities */
#functionalities svg {
    width: 60%;
}

#functionalities {
    margin-top: 30px;
    align-items: center;
}

#functionalities .container{
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
    min-width: 300px;
}
#functionalities .container .box {
    display: flex;
    justify-content: flex-start;
    align-items: center ;
}

#functionalities .container .box  h3 {
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 25px;
}

#functionalities .container .box  p {
    font-size: 16px;
    line-height: 18px;
}

.red-hover:hover {
    filter: invert(100%) url(#colorFilter);
  }




