.sidebar-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100px;
    background-color: rgba(55, 56, 103, 0.4);
    flex-grow: 1;
}

.sidebar-top img {
    align-self: center;
}

.sidebar-top p {
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    color: #373867;
}

.sidebar-top .trackgenix-back {
    display: flex;
    justify-content: center;
}

.sidebar-middle {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-self: center;
    justify-content: space-around;
    min-height: 100px;
}

.sidebar-middle a{
    color: rgb(243, 52, 19);
}

.sidebar-middle i {
  padding-right: 10px;
}

.sidebar-bot > p {
    margin-left: 11px;
    font-size: 14px;
    font-weight: bold;
}

.sidebar-bot {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-self: center;
    flex-grow: 4;
    min-height: 300px;
}

.sidebar-bot .all-icons-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    font-size: 14px;
}

.icon-info {
    display: flex;
    text-align:left;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}
.icon-info p{
    width: 90%;
}

#line-cu {
    width: 81px;
    height: 1px;
    background-color: rgb(243, 52, 19);
    margin-left: 8px;
}

#icon-city,
#icon-mail,
#icon-phone {
    justify-items: flex-start;
    font-size: 14px;
}



