body {
    width: 1440px;
    height: 6864px;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
}

aside {
    position: fixed;
    width: 152px;
    height: 900px;
    background-color: #ffffff;
    font-style: normal;
    color: rgb(243, 52, 19);
    float: left;
}

aside i {
    width: 14px;
    height: 14px;
}


header {
    background-color: rgba(0, 0, 0, 0.3);
    background-image: url(../assets/home-image.png) ;
    background-size: cover
}

h1 {
    padding-top:170px; ;
    font-size: 40px;
    font-weight: bold;
    color:#FFFFFF;
}

h2 {
    text-align: center;
}

h2,
h3 {
    font-weight: 700px;
    font-size: 40px;
    font-weight: bold;
}

a{
    text-decoration: none;
}

header,
#who-we-are,
#why-choose-us,
#functionalities,
#contact,
#products-enterprise-support,
footer {
    width: 1288px;
    float: right;
}

.grey-line {
    width: 1176px;
    height: 10px;
    margin-left: 57px;
    background-color: #D9D9D9;
}
