body {
    display: flex;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    overflow: hidden;
}

aside {
    display: none;
    width: 10%;
    height: 100%;
    min-width: 160px;
    background-color: #ffffff;
    font-style: normal;
    color: rgb(243, 52, 19);
}

h2 {
    text-align: center;
}

h2,
h3 {
    font-weight: 700px;
    font-size: 40px;
    font-weight: bold;
}

a{
    text-decoration: none;
}

#header-main-footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: scroll;
}

header,
#who-we-are,
#why-choose-us,
#functionalities,
#contact,
#products-enterprise-support,
footer {
    display: flex;
    flex-direction: column;
}

/* Lines */
.grey-line {
    width: 95%;
    height: 10px;
    margin: 1vh 0vh 1vh 0vh ;
    background-color: #D9D9D9;
}

/* Colours */
.grayish-navy {
    color: #373867;
}

.grayish-green {
    color: #49A37B;
}


/* Media querys */
@media screen and (min-width: 1024px) {
    aside {
        display: flex;
        flex-direction: column;
    } }

@media screen and (min-width: 1024px) {
    #header-main-footer {
        width: 90%;
    } }