.sidebar-top {
    height: 152px;
    background-color: rgba(55, 56, 103, 0.4);
}

.sidebar-top img {
    width: 77px;
    height: 91px;
    margin: auto;
    padding-left: 37.5px;
    padding-top: 19px;
}

.sidebar-top p {
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    color: #373867;
    line-height: 23px;
}

.sidebar-top .trackgenix-back {
    display: inline-block;
}

.sidebar-top .trackgenix-back p{
    margin-right: 5px;
    margin-left: 14px;
    float: left;
}

.sidebar-middle {
    width: 90px;
    padding: 63px 0px 313px 27.5px;
    font-size: 14px;
    line-height: 55px;
}

.sidebar-middle a,
.sidebar-middle i {
    color: rgb(243, 52, 19);
}

.sidebar-middle a:hover,
.sidebar-middle i:hover {
    color:#373867;
}

.sidebar-middle i {
  padding-right: 10px;
}

.sidebar-bot > p {
    margin-left: 11px;
    font-size: 14px;
    font-weight: bold;
}

.sidebar-bot .all-icons-info {
    width: 100px;
    font-size: 10px;
}

.icon-info {
    padding-top: 25px;
    width: 152px;
}

#line-cu {
    width: 81px;
    height: 1px;
    background-color: rgb(243, 52, 19);
    margin-left: 8px;
}

#icon-mail,
#icon-phone {
    padding-left: 11px;
    float: left;
}

#mail,
#phone,
#address {
    width: 110px;
    float: right;
}

#icon-city {
    float: left;
    padding-top: 7px;
    padding-left: 11px;
}

