aside {
    position: fixed;
    width: 152px;
    height: 900px;
    background-color: #ffffff;
    border: solid 1px black;
    font-style: normal;
    color: rgb(243, 52, 19);
    float: left;
}

aside i {
    width: 14px;
    height: 14px;
}

aside .sidebar-top {
    height: 152px;
    background-color: rgba(55, 56, 103, 0.4);
}

.sidebar-top img {
    width: 77px;
    height: 91px;
    margin: auto;
    padding-left: 37.5px;
    padding-top: 19px;
}

.sidebar-top p {
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #373867;
    line-height: 23px;
}

.sidebar-middle {
    width: 100px;
    padding: 63px 0px 307px 27.5px;
    font-size: 14pt;
    font-style: medium;
    line-height: 55px;
}

.sidebar-middle a,
.sidebar-middle i {
    color: rgb(243, 52, 19);
}

.sidebar-middle i {
  padding-right: 10px;
}

.sidebar-bot > p {
    margin-left: 11px;
    font-size: 14pt;
    font-weight: bold;
}

.sidebar-bot .all-icons-info {
    width: 100px;
    padding-left: 11px;
    font-size: 10pt;
}

.icon-info {
    padding-top: 25px;
    width: 100px;
    display: inline;
    float: left;
}

#line-cu {
    width: 81px;
    height: 1px;
    background-color: rgb(243, 52, 19);
    margin-left: 8px;
}

#icon-city {
    float: left;
}

#address {
    float: right;
}
