.headers-paragraphs{
    width: 481px;
    height: 900px;
    margin-left: 76px;
    background-color: rgba(0, 0, 0, .4);
    backdrop-filter: blur(3px);
}

.headers-paragraphs p {
    margin-left: 14.5px;
    padding-bottom: 45px;
}

.title-bar-subtitle{
    margin-left: 14.5px;
}
.title-bar-subtitle>h2 {
    font-size: 20px;
    text-align: left;
    color:#FFFFFF;
}

#line-header{
    width: 452px;
    height: 2px;
    margin-top: 10px;
    margin-bottom: 17px;
    background-color: #AACE9B;
}

.paragraphs-box {
    width: 366px;
    padding-top: 98px;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #FFFFFF;
    opacity: .75;
    
}